version: '3.8'

services:
  # === PHP + Apache (Laravel) ===
  app:
    build:
      context: .
      dockerfile: _docker/app/Dockerfile
    volumes:
      - ./:/var/www/
    depends_on:
      - db
    networks:
      - laravel_net
    container_name: laravel_app
    ports:
      - "8000:8000"
    command: php artisan serve --host=0.0.0.0 --port=8000

  # === MySQL Database ===
  db:
    image: mysql:8.0
    container_name: laravel_db
    restart: always
    ports:
      - "3307:3306"
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: laravelblog
    volumes:
      - ./mysql_data:/var/lib/mysql
    command: --character-set-server=utf8mb4 --collation-server=utf8mb4_unicode_ci
    networks:
      - laravel_net

  # === PhpMyAdmin ===
  phpmyadmin:
    image: phpmyadmin/phpmyadmin:latest
    container_name: laravel_phpmyadmin
    restart: always
    ports:
      - "8080:80"
    environment:
      PMA_HOST: db
      PMA_USER: root
      PMA_PASSWORD: root
    depends_on:
      - db
    networks:
      - laravel_net

networks:
  laravel_net:
    driver: bridge
